<div (click)="clickOnCommentHandler()"
     class="flex justify-between px-4 rounded-lg bg-blue-500 shadow-md text-gray-100 h-8 border-2 border-gray-200">
  <p class="my-auto">Comments</p>
  <img *ngIf="!showComments"
       class="w-4"
       src="../../../assets/icons/add-plus-button-white.svg"
       alt="" />
  <img *ngIf="showComments"
       class="w-4"
       src="../../../assets/icons/horizontal-line-remove-button-white.svg"
       alt="" />
</div>
<ng-container *ngIf="showComments">
  <div class="box-border p-4 shadow-md border-gray-500 rounded-lg mt-4 bg-blue-500 text-white"
       *ngFor="let comment of comments">
    <div class="flex justify-between border-b-2 border-gray-400">
      <div> {{ comment.username }} </div>
      <div> {{ $any(comment.createdDate).toDate() | date: 'short' }} </div>
    </div>
    <div class="pt-2 text-sm"> {{ comment.content }} </div>
  </div>
  <form [formGroup]="commentForm"
        *ngIf="commentForm"
        (ngSubmit)="addComment()">
    <div class="grid grid-cols-6 gap-3 mt-4">
      <textarea #commentInput
                formControlName="content"
                placeholder="Whatcha think?"
                class="px-4 pt-2 leading-tight rounded-lg align-middle shadow-md col-span-4"></textarea>
      <button type="submit"
              class="transition duration-300 ease-in-out bg-blue-600 hover:bg-blue-700 text-white font-bold px-4 rounded-lg shadow-md col-span-2">
        Comment </button>
    </div>
  </form>
</ng-container>
