<div
  (click)="showComments = !showComments"
  class="flex justify-between px-8 py-1 rounded-lg bg-blue-500 shadow-md mx-8 text-gray-100 align-middle h-8 mb-4"
>
  <p class="inline-block" *ngIf="!showComments">Comments</p>
  <p *ngIf="showComments">Comments</p>
  <img *ngIf="!showComments" class="w-4" src="../../../assets/icons/add-plus-button-white.svg" alt="" />
  <img *ngIf="showComments" class="w-4" src="../../../assets/icons/horizontal-line-remove-button-white.svg" alt="" />
</div>

<ng-container *ngIf="showComments">
  <div
    class="box-border p-4 shadow-md mb-4 border-gray-500 rounded-lg mt-4 bg-indigo-100"
    *ngFor="let comment of comments"
  >
    <div class="flex justify-between border-b-2 border-gray-400 px-2">
      <div>
        {{ comment.username }}
      </div>
      <div>
        {{ comment.createdDate.toDate() | date: 'short' }}
      </div>
    </div>
    <div class="text-gray-800 pt-4 text-sm px-2">
      {{ comment.content }}
    </div>
  </div>
  <form [formGroup]="commentForm" *ngIf="commentForm" (ngSubmit)="addComment()">
    <div class="flex justify-between">
      <textarea
        formControlName="content"
        placeholder="Whatcha think?"
        class="px-4 pt-2 leading-tight rounded-lg align-middle shadow-md"
      ></textarea>
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded-lg shadow-md">
        Comment
      </button>
    </div>
  </form>
</ng-container>
