<div class="w-full max-w-xs m-auto mt-8"
     *ngIf="true">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        [formGroup]="registrationFormGroup.formGroup"
        *ngIf="registrationFormGroup"
        (ngSubmit)="submitRegistration()">
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-1"
             for="username"> Username </label>
      <input placeholder="Username"
             formControlName="displayName"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
             type="text"
             id="username" />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-1"
             for="email"> Email </label>
      <input placeholder="Email"
             formControlName="email"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
             type="email"
             id="email" />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-1"
             for="firstname"> First Name </label>
      <input placeholder="First Name"
             formControlName="firstName"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
             type="text"
             id="firstname" />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-1"
             for="lastname"> Last Name </label>
      <input placeholder="Last Name"
             formControlName="lastName"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
             type="text"
             id="lastname" />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-1"
             for="password"> Password </label>
      <input placeholder="Password"
             formControlName="password"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
             type="password"
             id="password" />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-1"
             for="confirmPassword">Confirm Password </label>
      <input placeholder="Confirm Password"
             formControlName="confirmPassword"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
             type="password"
             id="confirmPassword" />
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-1"
             for="instrument"> Instrument </label>
      <select id="type"
              formControlName="instrument"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline bg-white">
        <option value="">Personal Instrument</option>
        <option [ngValue]="instrument"
                *ngFor="let instrument of instruments"> {{ instrument | titlecase }} </option>
      </select>
    </div>
    <div class="flex justify-end">
      <!-- <button type="button" (click)="" class="w-8 object-center">
          <img src="../../../assets/icons/google.svg" />
        </button> -->
      <button type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> Sign Up </button>
    </div>
    <div></div>
  </form>
</div>
