<div class="flex justify-around">
  <div class="p-4 m-4 bg-blue-500 text-gray-200 rounded-md shadow-lg">
    <h1 class="font-bold text-center">Contact Us!</h1>
    <p class="font-semibold">At Brass Exchange we want to make sure you have a smooth experience from login to logout.
      Please let us know if there's something that has hindered your visit.</p>
    <p class="text-center my-2">We value your feedback!</p>
    <hr>
    <ul class="mt-4 text-center">
      <li class="li">
        <a class="font-bold"
           href="mailto:nick@atercloud.com">Email Us!</a>
      </li>
    </ul>
  </div>
</div>
