<div class="bg-blue-500 py-2 px-2 flex justify-between">
  <!-- Contact Seller/Request more info -->
  <div class="ml-2">
    <img class="w-6" src="../../../assets/icons/email.svg" alt="" />
  </div>
  <!-- Views -->
  <div class="text-white">
    <p>{{ forSaleListing?.views || 0 }} views</p>
  </div>
  <!-- Favorites -->
  <div class="flex justify-between text-white">
    <img class="w-6 mr-1" src="../../../assets/icons/favorite-heart-button.svg" alt="" />
    <p class="mr-2 text-lg font-bold">40</p>
  </div>
</div>
