<div class="bg-blue-500 py-2 px-2 flex justify-between h-12">

  <div class="ml-2" (click)="contactSeller()">
    <img class="w-8" src="../../../assets/icons/email.svg" alt="" />
  </div>

  <!-- Favorites -->
  <div class="flex justify-between text-white" (click)="augmentFavorite()">
    <img *ngIf="isFavorited; else notFavorite" class="w-8 mr-1" src="../../../assets/icons/heart-pink.svg" alt="" />
    <ng-template #notFavorite>
      <img class="w-8 mr-1" src="../../../assets/icons/favorite-heart-button.svg" alt="" />
    </ng-template>
    <p class="mr-2 text-xl font-bold">{{ forSaleListing.favorites }}</p>
  </div>
</div>
<app-contact-seller (closeMessageComponent)="contactSeller()" [instrumentName]="instrumentName"
  [inquirerUsername]="user.displayName" [sellerUsername]="forSaleListing.sellerUsername"
  [instrumentId]="forSaleListing.id" *ngIf="displayContactSeller">
</app-contact-seller>
