<div [ngClass]="{'border-b-2': !config.simple, 'shadow-md': !config.simple}"
  class="box-border p-6 shadow-sm mb-4 divide-solid border-gray-500">
  <h3 [ngClass]="{'text-sm': !config.simple}">{{ brandModel }}</h3>
  <div class="border-2 divide-solid rounded">
    <app-image [isHeroImage]="true" [ownerId]="ownerId" [instrumentId]="instrumentId"></app-image>
    <div *ngIf="!config.simple" class="content flex justify-between p-4 bg-indigo-200">
      <ul class="left">
        <li><span class="bold"></span> {{ type | titlecase }}</li>
        <li *ngIf="key"><span class="bold">Key:</span> {{ key }}</li>
      </ul>
      <ul class="right">
        <li><span class="bold">Price:</span> ${{ price }}</li>
        <li *ngIf="finish"><span class="bold">Finish:</span> {{ finish | titlecase }}</li>
      </ul>
    </div>
  </div>
</div>
