<div class="fixed h-12 w-full flex justify-between bg-blue-500 align-middle">
  <h1 class="ml-2 text-justify text-3xl text-gray-200">BX</h1>
  <div class="dropdown my-auto">
    <button class="my-auto mr-4 dropbtn" (click)="isMenuOpen = !isMenuOpen">
      <fa-icon primaryColor="white" size="2x" [icon]="menuBars"></fa-icon>
    </button>
    <div
      *ngIf="authenticated && isMenuOpen; else loggedOut"
      class="bg-indigo-200 absolute right-0 w-40 shadow-lg rounded-lg block text-center"
    >
      <a class="block py-4 px-4" routerLink="/profile">Profile</a>
      <a class="block py-4 px-4" href="/instruments/for-sale">Buy</a>
      <a class="block py-4 px-4" href="#">Sell</a>
      <a class="block py-4 px-4" href="#">Contact Us</a>
    </div>
    <ng-template #loggedOut>
      <div *ngIf="isMenuOpen" class="bg-indigo-200 absolute right-0 w-40 shadow-lg rounded-lg block text-center">
        <a class="block py-4 px-4" href="#">Login</a>
        <a class="block py-4 px-4" href="#">Sign Up</a>
        <a class="block py-4 px-4" href="#">Contact Us</a>
      </div>
    </ng-template>
  </div>
</div>
