<div class="box-border p-6 shadow-sm mb-4 border-b-2 divide-solid border-gray-500">
  <h3 class="text-2xl">{{ brandModel }}</h3>
  <div class="border-2 divide-solid rounded">
    <div class="">
      <img class="img" src="{{ heroPhotoUrl }}" />
    </div>
    <div class="content flex justify-between p-4">
      <ul class="left">
        <li><span class="bold">Type:</span> {{ type | titlecase }}</li>
        <li *ngIf="key"><span class="bold">Key:</span> {{ key }}</li>
        <li *ngIf="size"><span class="bold">Size:</span> {{ size }}</li>
        <li><span class="bold">Shipping:</span> {{ isShippingAvailable }}</li>
      </ul>
      <ul class="right">
        <li><span class="bold">Price:</span> ${{ price }}</li>
        <li *ngIf="boreSize"><span class="bold">Bore Size:</span> {{ boreSize }}</li>
        <li *ngIf="finish"><span class="bold">Finish:</span> {{ finish | titlecase }}</li>
        <li *ngIf="views"><span class="bold">Views:</span> {{ views }}</li>
      </ul>
    </div>
  </div>
</div>
