<div>
  <div class="p-4 mx-auto text-center">
    <h2 class="text-2xl text-blue-700">Your Profile</h2>
  </div>
  <div *ngIf="user$ | async as user"
       class="max-w-lg mx-auto">
    <div class="text-white mx-auto text-center">
      <div class="bg-blue-500 h-auto mx-4 rounded-md shadow-lg py-4">
        <div *ngIf="!isEditMode; else edit"
             class="grid grid-cols-3">
          <div class="col-span-1">
            <img class="w-full mt-2 ml-3 rounded-md"
                 [src]="user.photoUrl"
                 alt="profile picture" />
          </div>
          <div class="col-span-2 p-2">
            <div>{{ user.firstName | titlecase }} {{ user.lastName | titlecase }}</div>
            <div class="text-sm">{{ user.displayName }}</div>
            <div class="text-sm">{{ user.email }}</div>
            <div class="text-sm">{{ user.principalInstrument | titlecase }}</div>
            <div class="text-xs">Account Created: {{ user.dateAccountCreated | date }}</div>
          </div>
        </div>
        <ng-template #edit>
          <div class="mx-10">
            <app-edit-profile (editSubmitted)="isEditMode = !isEditMode"
                              [user]="user"></app-edit-profile>
          </div>
        </ng-template>
        <div class="flex justify-end mt-4">
          <button class="mx-4"
                  (click)="isEditMode = !isEditMode">
            <img *ngIf="!isEditMode"
                 class="w-4"
                 src="../../assets/icons/edit.svg"
                 alt=""
                 srcset="" />
          </button>
        </div>
      </div>
      <div>
        <div *ngIf="user.instrumentsListed.length; else noInstruments"
             class="flex-wrap">
          <h4 class="text-blue-500 mt-6">Your instruments</h4>
          <div *ngFor="let instrument of user.instrumentsListed">
            <app-for-sale-listing [config]="forSaleListingComponentConfig"
                                  [instrument]="instrument"
                                  (click)="navigateToDetail(instrument.id)">
            </app-for-sale-listing>
          </div>
        </div>
        <ng-template #noInstruments>
          <div *ngIf="!isEditMode"
               class="col-span-2">
            <h4 class="text-blue-500 mt-6">You haven't listed any instruments</h4>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
